/* 
Primary (Darkest - Text & Icons): #124734 (Deep Forest Green)
Secondary (Headers & Buttons): #1B6A4E (Dark Jade Green)
Accent (CTA & Highlights): #2E8B57 (Sea Green)
Background (Lightest - Main BG): #E6F4EA (Soft Mint Green)
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --pri: #124734;
    --sec: #1B6A4E;
    --acc: #40c278;
    --bg: #E6F4EA;

    --bdfnt: "Inter", sans-serif;
    --hdfnt: "Poppins", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--bdfnt);
    color: var(--bg);
    background-color: var(--bg);
    display: flex;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--hdfnt);
    font-weight: 700;
}

h1 {
    font-size: 3rem;
}

i {
    color: var(--acc);
    transition: all 1s;
}

i:hover {
    color: var(--bg);
    transform: scale(1.1);
}

/* UI WIDGET */
.wrapper {
    max-width: 90vw;
    margin: auto;
    background-color: var(--pri);

    padding: 2rem;
    border-radius: 1em;

    /* FLEX */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/* HEADER */

header {
    text-align: center;

    /* FLEX */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

img {
    width: 20%;
    height: auto;
    object-fit: cover;
}

/* INPUT */

main {
    display: flex;
    flex-direction: column;
    gap: 1em;

    min-width: 80%;
}

#inpt {
    background-color: var(--bg);
    border: solid .1em var(--sec);
    border-radius: .2em;
    padding: .5em;
}

#btn {
    color: var(--pri);
    background-color: var(--acc);
    border: solid .1em var(--sec);
    border-radius: .2em;
    padding: .5em;
    font-weight: 700;
    transition: all 1s;
}

#btn:hover {
    background-color: var(--sec);
    color: var(--bg);
    border-color: var(--acc);
}

#btn:active {
    background-color: var(--bg);
    color: var(--pri);
    border-color: var(--acc);
}

/* LIST */

.items {
    padding-bottom: 1em;
}
.items li {
    border-bottom: solid .1em var(--acc);
    padding: .5em;
}

.items li::before {
    content: ">";
    color: var(--acc);
    margin-right: 1em;
}

/* FEEDBACK */

.errors {
    padding-bottom: 1em;
}

/* FOOTER */

footer {
    width: 100%;
    padding: 1rem;
    border-top: solid .05em var(--acc);
}


.socials {

    /* FLEX */
    display: flex;
    gap: 1rem;
    justify-content: center;
}


/* DESKTOP */

@media only screen and (min-width: 50em) {

    .wrapper {
        max-width: 45rem;
    }

    main {
        min-width: 30em;
    }

}